assignment2/xsd/neo4j/DataTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="node">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="labels" type="xsd:anyURI" />
				<xsd:element name="self" type="xsd:anyURI" />
				<xsd:element ref="data" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="data">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="title" type="xsd:string"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>